
.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  min-width: 280px;
  justify-content: space-between;
  background-color: #fff;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
  }

  img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }

  h3 {
    font-size: 2rem;

    @media (max-width: 630px) {
      font-size: 1.8rem;
    }

    @media (max-width: 460px) {
      font-size: 1.6rem;
    }
  }

  p {
    text-align: center;
    width: 70%;

    @media (max-width: 430px) {
      width: 100%;
    }
  }

  button  {
   border-radius: 10px;
  }

}