

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  color:$text-primary;
  flex-wrap: wrap;
  padding: 2rem 1rem;

 
 
  img {
    width: 450px;
    height: 450px;
    border-radius: 50%;

    @media (max-width: 768px) {
      width: 280px;
      height: 280px;
    }
  }

  .name {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    

    h1 {
      font-size: 2rem;
      font-weight: 600;
      @media (max-width: 1398px) {
        text-align: center;
      }
    }
   
    p {
      font-weight: 600;
      font-size: 1.3rem;
      color: $text-secondary;
      @media (max-width: 1398px) {
        text-align: center;
      }
    }
  }

  .description {    
    max-width: 700px;

    p {
      font-weight: 600;
      font-size: 1.2rem;
    }

    @media (max-width: 1398px) {
      p {
        text-align: center;
      }
    }
    
  }

  .info {
    display: flex;
    gap: 40px;
    padding: 20px 0;
    flex-wrap: wrap;

    @media (max-width: 1398px) {
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 0;
     

      p {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }

  .skills {
    display: flex;
    gap: 40px;
    padding: 10px 0;

    @media (max-width: 1398px) {
      justify-content: center;
    }

    p {
      font-weight: 600;
      font-size: 1.2rem;
      padding: 10px 20px;
      color: $text-secondary;
      background-color: $bg-btn-secondary;
    }
  }
    
  
}