

@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  margin: auto;

  .cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem 4rem 1rem;
    gap: 40px;
    flex-wrap: wrap;
    margin: auto;
  }
}

