
//  Colors-bg
$bg-primary: #205691;
$bg-secondary: #d3e9ff7a;

// Text
$text-primary: #205691;
$text-secondary: #278733;
$text-default: #ffffff;

//  Buttons
$bg-btn-primary: #205691;
$bg-btn-secondary: #d4e7d6;
$bg-btn-hover: #fd7267;

// fonts
$font-source-sans: 'Source Sans 3', sans-serif;
$font-helvetica: Helvetica, Arial, sans-serif;

