

.home {
  flex: 1;
  display: flex;

  @media (max-width: 767px) {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}

.box_left {
  flex: 1;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
  padding-top: 2rem;

  @media (max-width: 1250px) {
    padding-right: 0;
    gap: 10px;
  }

  @media (max-width: 768px) {
    align-items: center;
  }

  h1 {
    font-size: 7rem;

    @media (max-width: 1250px) {
      font-size: 3.5rem;
    }

    @media (max-width: 768px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 2.9rem;
    }

     @media (max-width: 400px) {
      font-size: 2rem;
    }

  }

  p {
    font-size: 2rem;

    @media (max-width: 1250px) {
      font-size: 1.3rem;
    }

     @media (max-width: 768px) {
      font-size: 1rem;
      text-align: center;
    }
  }

  .box_metrics {
    display: flex;
    gap: 50px;
    display: flex;
    justify-content: center;

    h3 {
      font-size: 3rem;

      @media (max-width: 1250px) {
        font-size: 1.8rem;
      }

      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }

    @media (max-width: 1250px) {
      gap: 10px;
    }

    @media (max-width: 768px) {
      gap: 5px;
    }
  }

}

.box_right {
  flex: 1;
  width: 350px;
  display: flex;
  justify-content: center;
  background: url("../../assets/images/img_1.png") no-repeat center center / 95% 100%;

  @media (max-width: 768px) {
    width: 80%;
  }
}
