
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 150px);
    padding: 0 4rem;
    overflow: auto;

    @media (max-width: 680px) {
      padding: 0 ;
    }
  }
}
