

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-btn-primary;
  color: $text-default;
  font-size: 1.3rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $bg-btn-hover;
  }
}