

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color:$bg-primary;
  padding: 0 4rem;
  color: white;
  text-align: center;

  .menuIcon {
    display: none;
    @media (max-width: 680px) {
      display: block;
    }
  }

  section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

    div {
      flex: 1;
      display: flex;
      justify-content: center;    
      align-items: center;

      @media (max-width: 680px) {
        flex: none;
        width: 100%;
        padding: 2rem 0;
      }
    }

    
    @media (max-width: 680px) {
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;;
      top:100px;
      left: 0px;
      width: 250px;
      height: calc(100vh - 150px);
      background-color: $bg-primary;
      z-index: 999;
    } 
 
  }

  @media (max-width: 880px) {
    padding: 2rem;
  } 

}