.menu {
  display: flex;
}

.list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: 680px) {
    flex-direction: column;
  } 
}

.link {
  position: relative;
  text-decoration: none;
  color: $text-default;
  font-weight: 400;
  font-size: 1.4rem;

  &.active {
    font-weight: 600;
  }

  &.active::after,
  &:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60%;
    height: 4px;
    background-color: #ffffff83;
  }

  @media (max-width: 880px) {
    font-size: 1rem;
  } 


}
