

footer {
  background-color: $bg-secondary;
  color: black;
  text-align: center;
  padding: 1rem 0.5rem;
  font-family:"" ;

  p {
    margin: 0;
    font-size: 0.9rem;
    font-family: $font-helvetica;
  }
}